
<div id = "Apps"> 
  <p> App </p>
</div> 
<form id= "todo-list">
<ul>
  <% @items.each do |item| %>
  <p> <%= render "items/item", item: item %> </p>
  <% end %>
</ul>

<div class = "posting"> 
  <%= form_for @item, :remote => true do |t| %>
  <%= t.text_field :name %>
  <%= t.text_field :description %>
  <%= t.submit "Create" %> 
  <% end %>
</div> 
</form>