<h1> To Do List </h1> 
<ul>
  <% @items.each do |item| %>
  <%= render "items/item", item: item %>
<!--   <li><%= item.name %>: <%= item.description %></li>
 -->  <% end %>
</ul>

<div class = "posting"> 
  <%= form_for @item, :remote => true do |t| %>
  <%= t.text_field :name %>
  <%= t.text_field :description %>
  <%= t.submit "Create" %> 
  <% end %>
</div> 
<%= javascript_include_tag 'application' %>